azure.cognitiveservices.vision.computervision
from msrest.authentication import CognitiveServicesCredentials
from array import array
import os
from PIL import Image
from PIL import ImageDraw
from PIL import ImageFont
import sys
import time
import json
import streamlit as st